*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter',
    sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(97, 93, 91, 1);
}

.card {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #070707;
  width: min(60rem, 80vw);
  max-height: 90vh;
  flex-wrap: wrap;
  isolation: isolate;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.preview {
  isolation: isolate;
  /* width: min(20rem, 60vw); */
}

.product-details {
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
  background-color: #070707;
  isolation: isolate;
}

.duplicate {
  color: rgb(97, 93, 91, 0.6);
  position: absolute;
  z-index: -1;
  font-size: 7em;
  margin: auto 0;
}

.duplicate::before,
.duplicate::after {
  content: "New";
  display: block;
}

.duplicate::before {
  color: rgb(97, 93, 91, 0.4);
}

.duplicate::after {
  color: rgb(97, 93, 91, 0.8);
}

.product-image {
  width: min(25rem, 40vw);
  height: 100%;
  margin-inline: auto;
}

.cta {
  color: #070707;
}

.section-title {
  font-size: 1.5em;
  font-weight: 400;
}

.product-title {
  font-size: 2.5em;
  font-weight: 600;
}

.description {
  font-weight: 200;
  max-width: 45ch;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}