*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Inter',
    sans-serif;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #625c5a;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #070707;
  width: min(60rem, 80vw);
  max-height: 90vh;
  flex-wrap: wrap;
}

.preview {
  isolation: isolate;
}

.product-details {
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
  isolation: isolate;
}

.duplicate {
  color: #423e3c;
  position: absolute;
  z-index: -1;
  font-size: min(10vw, 7.3em);
  max-height: min(25rem, 40vw);
  width: min(25rem, 40vw);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.duplicate::before,
.duplicate::after {
  content: "New";
  display: block;
}

.duplicate::before {
  color: #282524;
}

.duplicate::after {
  color: #625c5a;
}

.product-image {
  width: min(25rem, 40vw);
  height: 100%;
  margin-inline: auto;
}

.section-title {
  font-family: 'Alata', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.product-title {
  font-size: 2.5em;
  font-weight: 600;
}

.description {
  font-weight: 200;
  max-width: 45ch;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.price {
  font-family: 'Alegreya',
    serif;
  font-size: 2em;
}

.old-price {
  color: #e74c3c;
  text-decoration: line-through;
}

.cta {
  height: 2.5rem;
  color: #000;
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

@media (hover) {

  .cta {
    color: #f1c40f;
    background-color: transparent;
  }

  .cta:hover {
    color: #000;
    background-color: #f1c40f;
  }
}